/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: sans-serif;
  border: 2px solid grey;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.gwt-DatePicker .datePickerDay,
.datePickerMonth,
.datePickerYear,
.datePickerWeekdayLabel,
.datePickerWeekendLabel{
	font-size: 150%;
	font-weight: bold;
}

.mainPanel{
	margin: 0px auto;
	align: center;
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#selectButton {
  display: block;
  margin: 12px auto;
  width: 100%;
  font-weight: bold;
  color: #000000;
  background: #666666;
  font-size: 1em;
  font-family: sans-serif;'
}

#stepLabel{
  margin: 12px auto;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 2em;
}

#imageThumb{
	width: 200px;
}

#imageView{
	width: 400px;
}
